In [3]:
row = 'Henrique', 'Niterói', 22.9, 43.1
def f(t):
    #nome, cidade, lat, long = t
    #print(nome, cidade, lat, long)
    nome, *_ =t
    print(nome, _)
if __name__ == '__main__':
    f(row)

Henrique ['Niterói', 22.9, 43.1]

In [14]:
table = (('Henrique', 'Niterói', 22.9, 43.1),
         ('Vinícius', 'Santarém', 2.4, 54.7)
        )
#for row in table:
#    nome, cidade, lat, long = row
#    print(nome, cidade, lat, long)
for nome, cidade, *coordenadas in table:
    print(nome, cidade, *coordenadas)

Henrique Niterói 22.9 43.1
Vinícius Santarém 2.4 54.7